<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="System.Runtime" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
<#

    var kinds = new (string Kind, string SyntaxNodeType, bool IsParameter, string TriviaContainerType, string BracketSymbol)[]
    {
        ("ConstructorDeclaration", "BaseMethodDeclarationSyntax", true, "ParameterList", "OpenParen"),
		("MethodDeclaration", "BaseMethodDeclarationSyntax", true, "ParameterList", "OpenParen"),
        ("DelegateDeclaration", "DelegateDeclarationSyntax", true, "ParameterList", "OpenParen"),
        ("IndexerDeclaration", "IndexerDeclarationSyntax", true, "BracketedParameterList", "OpenBracket"),
        ("InvocationExpression", "InvocationExpressionSyntax", false, "ArgumentList", "OpenParen"),
        ("ObjectCreationExpression", "ObjectCreationExpressionSyntax", false, "ArgumentList", "OpenParen"),
        ("ElementAccessExpression", "ElementAccessExpressionSyntax", false, "BracketedArgumentList", "OpenBracket"),
        ("Attribute", "AttributeSyntax", false, "AttributeArgumentList", "OpenParen"),
        ("AnonymousMethodExpression", "AnonymousMethodExpressionSyntax", true, "ParameterList", "OpenParen"),
        ("ParenthesizedLambdaExpression", "ParenthesizedLambdaExpressionSyntax", true, "ParameterList", "OpenParen"),
    };
#>
namespace RoslynCommonAnalyzers.Test;

<#
int i = 1;
foreach (var (kind, syntaxNodeType, isParameter, containerType, bracketSymbol) in kinds)
{
    var code = $"RCGS{i:D4}";
    var parameterType = isParameter ? "Parameter" : "Argument";
    var codeFixClassName = $"{code}{parameterType}MustBeOnUniqueLinesCodeFixProvider";
    var accessMethod = isParameter ? "ParameterList" : "ArgumentList";
    var analyzerClassName = $"{code}{kind}{parameterType}MustBeOnUniqueLinesAnalyzer";
#>

using Verify<#=code#> = CSharpCodeFixVerifier<
    <#=analyzerClassName#>,
    <#=codeFixClassName#>>;

<#
    i++;
}
#>

<#
i = 1;
foreach (var (kind, syntaxNodeType, isParameter, containerType, bracketSymbol) in kinds)
{
    var code = $"RCGS{i:D4}";
    var className = $"{code}{kind}AnalyzersUnitTest";
    var verifyName = $"Verify{code}";
#>
[TestClass]
public class <#=className#>
{
    [TestMethod]
    public async Task Empty()
    {
        var test = @"";

        await <#=verifyName#>.VerifyAnalyzerAsync(test);
    }

    [TestMethod]
<#
    for (int row = 0; row < 8; ++row)
    {
#>
    [DataRow(<#=row + 1#>)]
<#
    }
#>
    public async Task ValidFlatEntry(int number)
    {
        var classGenerator = new ClassGeneratorBuilder();
        classGenerator.Init();
        classGenerator.<#=kind#>(number);
        var test = classGenerator.Generate();
        await <#=verifyName#>.VerifyAnalyzerAsync(test);
    }
}

<#
    i++;
}
#>